{
    "github.copilot.advanced.provider.openai.baseUrl": "http://localhost:20128/v1",
    "github.copilot.advanced.provider.openai.apiKey": "${env:OMNIROUTER_API_KEY}",
    "workbench.colorCustomizations": {
        "activityBar.activeBackground": "#5fa4cc",
        "activityBar.background": "#5fa4cc",
        "activityBar.foreground": "#15202b",
        "activityBar.inactiveForeground": "#15202b99",
        "activityBarBadge.background": "#a9367f",
        "activityBarBadge.foreground": "#e7e7e7",
        "commandCenter.border": "#e7e7e799",
        "sash.hoverBorder": "#5fa4cc",
        "statusBar.background": "#3c8dbc",
        "statusBar.foreground": "#e7e7e7",
        "statusBarItem.hoverBackground": "#5fa4cc",
        "statusBarItem.remoteBackground": "#3c8dbc",
        "statusBarItem.remoteForeground": "#e7e7e7",
        "titleBar.activeBackground": "#3c8dbc",
        "titleBar.activeForeground": "#e7e7e7",
        "titleBar.inactiveBackground": "#3c8dbc99",
        "titleBar.inactiveForeground": "#e7e7e799"
    }
}
